html {
    color: #FFF;
    background-color: black;
}
body {
    margin-top: 1em;
}
aside, nav {
    display: inline-block;
}
article, nav, footer {
    background-color: #315A8C;
    border-width: 4px;
    border-image: url(/img/ff4.png) 4 4;
    -moz-border-image: url(/img/ff4.png) 4 4;
    -o-border-image: url(/img/ff4.png) 4 4;
}
nav {
    width: 20%;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: top;
}
nav > ul {
    list-style-type: none;
}
aside {
    width: 70%;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1ex;
}
article {
    display: block;
    margin-bottom: 1ex;
}
footer {
    margin-top: 1ex;
    display: block;
}
a:link, a:visited {
    color: #5FF;
}
a:hover, a:active {
    color: #FF5;
}
