html {
    color: black;
    background-color: white;
    text-shadow: #d0c890 3px 3px 0;
}
a:link, a:visited {
    color: #0BB;
}
a:hover, a:active {
    color: #BB0;
}
article, footer, nav, section {
    background-color: #e0e0c0;
    border-width: 27px;
    border-image: url(/img/ffta.png) 27 27;
    border-image-repeat: repeat;
    -moz-border-image: url(/img/ffta.png) 27 27;
    -moz-border-image-repeat: repeat;
    -o-border-image: url(/img/ffta.png) 27 27;
    -o-border-image-repeat: repeat;
}
