<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}} &mdash; {{site.name}}</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="/css/base.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            {% include nav.html %}
        </nav>
        <aside>
            {{content}}
            <footer>
                <p>Content is available under the terms of the
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (BY-SA-NC 3.0 Unported)</a>
                    license unless otherwise specified.</p>
                <p>A modern browser is encouraged; I recommend <a href="http://www.google.com/chrome/">Chrome</a>,
                    <a href="http://www.mozilla.com/firefox">Firefox</a>, <a href="http://www.opera.com">Opera</a>,
                    or Internet Explorer 9+.</p>
            </footer>
        </aside>
        {% include js.html %}
    </body>
</html>
